rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Services
    match /services/{document=**} {
      // 読み取りは全ユーザーに許可
      allow read: if true;
      // 書き込みは管理者のみ許可
      allow write: if request.auth != null;
    }

    // Skills
    match /skills/{document=**} {
      // 読み取りは全ユーザーに許可
      allow read: if true;
      // 書き込みは管理者のみ許可
      allow write: if request.auth != null;
    }

    // Profiles
    match /profiles/{document=**} {
      // 読み取りは全ユーザーに許可
      allow read: if true;
      // 書き込みは管理者のみ許可
      allow write: if request.auth != null;
    }

    // Works
    match /works/{document=**} {
      // 読み取りは全ユーザーに許可
      allow read: if true;
      // 書き込みは管理者のみ許可
      allow write: if request.auth != null;
    }
    // その他のドキュメントへのアクセスを拒否
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
